main {
  padding: 100px;
  background-color: rgb(255, 255, 255);
}

.jump-to-top {
  display: none;
}

.map-and-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-container {
  padding-top: 15px;
}

.map-container,
.location-container {
  width: 400px;
  height: 400px;
  background-color: rgb(255, 255, 255);
}

.location-details div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.location-details {
  font-family: "New Yorker", cursive;
  color: rgb(0, 0, 0);
}

.location-logo {
  width: 18px;
}

.email-address:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

.tel-and-email li {
  display: flex;
  align-items: center;
  list-style: none;
}

.tel-and-email a {
  padding-left: 10px;
  color: black;
  text-decoration: none;
}

.opening-times__row {
  display: flex;
}

.opening-times__row li {
  list-style: none;
}

.opening-times__row .day {
  float: left;
  width: 40%;
}
