/* FONTS */

@font-face {
  font-family: "New Yorker";
  src: url(/fonts/Fox-Regular/FOXTROTM.TTF);
}

/* BODY */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* HEADER */

header {
  overflow: hidden;
}

header ul {
  display: flex;
  align-items: center;
  min-height: 4vh;
  background-color: rgba(55, 168, 224, 0.05);
}

.header-left {
  float: left;
  padding-left: 40px;
  width: 85%;
  font-family: "New Yorker", cursive;
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.header-right {
  float: right;
  padding-right: 20px;
  justify-content: space-around;
  width: 15%;
}

header li {
  text-decoration: none;
  list-style: none;
}
.phone-logo {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-right: 5px;
}
.tel-no a {
  padding-bottom: 4px;
  color: black;
  text-decoration: none;
}
.tel-no:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
.social-logos {
  width: 20px;
  height: 20px;
}
.social-logos:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

/* FOOTER */

.jump-to-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.jump-to-top a {
  color: black;
  font-family: "New Yorker", cursive;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 10px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
  font-family: "New Yorker", cursive;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
}

.logo img {
  width: 55px;
  height: 55px;
}

.logo {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  width: 60px;
  text-align: center;
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 12px;
  /* text-transform: uppercase; */
}
.nav-links a:hover {
  text-decoration: underline;
  transition: 1s;
}

/* BURGER */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 1px;
  background-color: black;
  margin: 5px;
  border-radius: 2px;
  transition: all 1s ease;
}

/* MOBILE VIEW */

@media screen and (max-width: 678px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  header {
    display: none;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .nav-links a {
    font-size: 15px;
  }

  .nav-links #logo-space {
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    padding-left: 75vh;
    padding-right: 25vh;
    display: block;
  }
  .jump-to-top {
    display: none;
  }
}

/* NAV ACTIVE */

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: 50px;
  }
  to {
    opacity: 1;
    transform: 0px;
  }
}
.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 3.6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -3.6px);
}

/* MAIN CONTENT */

main {
  height: 100vh;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  background-color: rgb(255, 255, 255);
}
main h2 {
  font-family: "New Yorker", cursive;
  color: rgb(0, 0, 0);
}
