* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  padding: 7rem;
}

.about-page {
  display: flex;
  justify-content: space-around;
}

.about-pic img,
.about-para {
  width: 45vw;
  padding: 2vw;
}

.about-para p {
  font-family: "High Summit";
  font-size: 2.3vw;
  line-height: 4vw;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-pic img {
    width: 95vw;
    padding-bottom: 40px;
  }
  .about-para {
    width: 85vw;
  }
  .about-para p {
    font-size: 7vw;
    line-height: 8.5vw;
  }
}
