html {
  font-size: 62.5%;
}

/* FONTS */

@font-face {
  font-family: "New Yorker";
  src: url(/fonts/FoxTrot-Regular.ttf);
}
@font-face {
  font-family: "Belleza";
  src: url(/fonts/Belleza-Regular.ttf);
}
@font-face {
  font-family: "Badlooking Brush";
  src: url(/fonts/Badlooking-Brush.otf);
}
@font-face {
  font-family: "High Summit";
  src: url(/fonts/High-Summit.ttf);
}
@font-face {
  font-family: "Solleno";
  src: url(/fonts/Solleno.ttf);
}

/* BODY */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* HEADER */

header {
  overflow: hidden;
}

header ul {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  background-color: rgb(255, 255, 255);
}

.header-left {
  float: left;
  padding-left: 2vw;
  width: 88%;
  font-family: "New Yorker", cursive;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.header-right {
  float: right;
  padding-right: 1vw;
  justify-content: space-around;
  width: 12%;
}

header li {
  text-decoration: none;
  list-style: none;
}
.phone-logo {
  width: 3rem;
  height: 3rem;
  padding-top: 3px;
  padding-right: 7.5px;
}
.tel-no a {
  padding-bottom: 6px;
  color: black;
  text-decoration: none;
}
.tel-no:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
.social-logos {
  width: 3rem;
  height: 3rem;
}
.social-logos:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10rem;
  background-color: white;
  font-family: "New Yorker", cursive;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(55, 168, 224, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  width: 9rem;
  height: 9rem;
}

.logo {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  width: 100px;
  text-align: center;
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}
.nav-links a:hover {
  text-decoration: underline;
  transition: 1s;
}

/* BURGER */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 3.5rem;
  height: 0.15rem;
  background-color: black;
  margin: 0.7rem;
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}

/* DELIVERY TAB */
a {
  text-decoration: none;
}

.delivery-tab-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  transform: rotate(-90deg);
  top: 53vh;
  bottom: 47vh;
  height: 3.75rem;
  width: 15.3rem;
  margin-left: -58px;
  background-color: rgba(55, 168, 224);
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}

.delivery-tab {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 2.25rem;
  width: 13.5rem;
  border-radius: 1rem;
  background-color: rgba(34, 31, 26, 255);
  filter: blur(0.15px);
}

.delivery-tab p {
  font-family: "New Yorker";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1.5px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  color: rgba(254, 254, 254, 255);
}
