html {
  font-size: 62.5%;
}

/* FONTS */

@font-face {
  font-family: "New Yorker";
  src: url(/fonts/FoxTrot-Regular.ttf);
}
@font-face {
  font-family: "Belleza";
  src: url(/fonts/Belleza-Regular.ttf);
}
@font-face {
  font-family: "High Summit";
  src: url(/fonts/High-Summit.ttf);
}
@font-face {
  font-family: "Instafont";
  src: url(/fonts/Billabong.ttf);
}
@font-face {
  font-family: "Klavika";
  src: url(/fonts/klavika-bold.otf);
}
@font-face {
  font-family: "Foodstuff";
  src: url(/fonts/Recoleta-Regular.otf);
}

/* BODY */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* HEADER */

header {
  overflow: hidden;
}

header ul {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  background-color: rgb(255, 255, 255);
}

.header-left {
  float: left;
  padding-left: 2vw;
  width: 88%;
  font-family: "New Yorker", cursive;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.header-right {
  float: right;
  padding-right: 1vw;
  justify-content: space-around;
  width: 12%;
}

header li {
  text-decoration: none;
  list-style: none;
}
.phone-logo {
  width: 3rem;
  height: 3rem;
  padding-top: 3px;
  padding-right: 7.5px;
}
.tel-no a {
  padding-bottom: 6px;
  color: black;
  text-decoration: none;
}
.tel-no:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
.social-logos {
  width: 3rem;
  height: 3rem;
}
.social-logos:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10rem;
  background-color: white;
  font-family: "New Yorker", cursive;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(55, 168, 224, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  width: 9rem;
  height: 9rem;
}

.logo {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  width: 100px;
  text-align: center;
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}
.nav-links a:hover {
  text-decoration: underline;
  transition: 1s;
}

/* BURGER */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 3.5rem;
  height: 0.15rem;
  background-color: black;
  margin: 0.7rem;
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}

/* DELIVERY TAB */
a {
  text-decoration: none;
}

.delivery-tab-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  transform: rotate(-90deg);
  top: 53vh;
  bottom: 47vh;
  height: 3.75rem;
  width: 15.3rem;
  margin-left: -58px;
  background-color: rgba(55, 168, 224);
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}

.delivery-tab {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 2.25rem;
  width: 13.5rem;
  border-radius: 1rem;
  background-color: rgba(34, 31, 26, 255);
  filter: blur(0.15px);
}

.delivery-tab p {
  font-family: "Foodstuff";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1.5px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgba(254, 254, 254, 255);
}

/* MOBILE VIEW */

@media screen and (max-width: 900px) {
  .wrapper {
    overflow-x: hidden;
  }

  header {
    display: none;
  }

  /* NAVBAR */
  main {
    margin-top: 10rem;
  }

  nav {
    border-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10rem;
    height: calc(100vh - 10rem);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .nav-links a {
    font-size: 22px;
  }

  .nav-links #logo-space {
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    padding-left: 85vw;
    padding-right: 15vw;
    display: block;
  }
}
/* NAV ACTIVE */

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: 50px;
  }
  to {
    opacity: 1;
    transform: 0px;
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6.8px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6.8px);
}

.toggle .delivery-tab-container {
  display: none;
}
