* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  background-color: rgb(255, 255, 255);
}

/* TOP IMAGE */
.home-page-top-image {
  text-align: center;
}
.home-page-top-image img {
  width: 100vw;
}

/* COFFEE/CAKE PIC & HOME DESCRIPTION */

.coffee-and-descr-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.coffee-pic img,
.home-descr {
  width: 40vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
}
.home-descr h2 {
  font-family: "High Summit";
  font-weight: lighter;
  font-size: 3vw;
  line-height: 3.5vw;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
}
.home-descr h3 {
  font-family: "High Summit";
  font-weight: lighter;
  font-size: 2vw;
  line-height: 2.5vw;
}

/* Slideshow container */
.slideshow-container {
  width: 50vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  transform: translate(0, -50%);
  color: rgb(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 2vw;
  line-height: 33vw;
  transition: 0.6s ease;
  border-radius: 0 0.5vw 0.5vw 0;
  user-select: none;
}
.prev {
  padding-right: 6vw;
}

.next {
  right: 0;
  padding-left: 6vw;
}

/* Caption text */
.text {
  color: rgb(255, 255, 255);
  font-family: "New Yorker";
  font-size: 3vw;
  letter-spacing: 0.05vw;
  padding: 1vw 1vw;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 0.3vw 4vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* INSTA LINK */
.insta-link {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 10vw;
  background-color: rgba(55, 168, 224, 0.25);
}
.insta-link p {
  font-family: "New Yorker";
  font-size: 2vw;
  color: black;
  text-decoration: none;
}
.insta-link img {
  width: 6vw;
}

/* MOBILE VIEW */
@media screen and (max-width: 900px) {
  /* COFFEE AND DESCRIPTION */
  .coffee-and-descr-container {
    flex-direction: column;
    text-align: center;
  }
  .coffee-pic {
    padding-top: 5vw;
  }
  .coffee-pic img,
  .home-descr {
    margin: auto;
    width: 80vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
  }
  .home-descr h2 {
    font-size: 6vw;
    line-height: 7vw;
    margin-top: 1vw;
    margin-bottom: 4vw;
  }
  .home-descr h3 {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 4vw;
  }

  /* SLIDESHOW */

  .slideshow-container {
    width: 70vw;
  }
  .prev,
  .next {
    font-size: 4vw;
    line-height: 46vw;
  }
  .prev {
    padding-right: 12vw;
  }

  .next {
    padding-left: 12vw;
  }

  /* INSTA LINK */
  .insta-link {
    display: flex;
    height: 15vw;
  }
  .insta-link p {
    font-size: 4vw;
  }
  .insta-link img {
    width: 8vw;
  }

  /* DELIVERY TAB */

  .delivery-tab-container {
    transform: rotate(0deg);
    position: relative;
    margin-left: 0;
    width: 100vw;
    height: 15vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 0;
    bottom: 0;
  }
  .delivery-tab {
    /* height: 4rem; */
    height: 8vw;
    /* width: 18rem; */
    width: 36vw;
  }
  .delivery-tab p {
    padding-top: 1.4vw;
    /* font-size: 2.4rem; */
    font-size: 5vw;
  }
}
