* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  background-color: rgb(255, 255, 255);
}

/* TOP IMAGE */
.home-page-top-image {
  text-align: center;
  position: relative;
}
.bagels-on-tray {
  display: block;
  width: 100vw;
}
.logo-large {
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 40vw;
}

/* COFFEE/CAKE PIC & HOME DESCRIPTION */

.coffee-and-descr-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.coffee-pic img,
.home-descr {
  width: 40vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
}
.home-descr h2 {
  font-family: "High Summit";
  font-weight: lighter;
  font-size: 3vw;
  line-height: 3.5vw;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
}
.home-descr h3 {
  font-family: "High Summit";
  font-weight: lighter;
  font-size: 2vw;
  line-height: 2.5vw;
}

/* INSTA LINK */
.insta-link {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 15vw;
  background-color: rgba(55, 168, 224, 0.65);
}
.insta-link p {
  font-family: "Instafont";
  font-size: 5.5vw;
  line-height: 4vw;
  padding-top: 1.5vw;
  color: black;
  text-decoration: none;
}
.insta-link img {
  width: 8vw;
}

/* FACEBOOK LINK */
.facebook-link {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 15vw;
  background-color: rgba(55, 168, 224, 1);
}
.facebook-link p {
  font-family: "Klavika";
  font-size: 4.3vw;
  line-height: 4vw;
  letter-spacing: -0.1vw;
  padding-top: 1.5vw;
  color: black;
  text-decoration: none;
}
.facebook-link img {
  width: 8vw;
}

/* FOODSTUFF LINK */
.foodstuff-link {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 15vw;
  margin-top: 5vw;
  background-color: rgba(55, 168, 224, 0.25);
}
.foodstuff-link p {
  font-family: "Foodstuff";
  font-size: 4vw;
  font-weight: 900;
  line-height: 4vw;
  padding-top: 1vw;
  padding-bottom: 0.8vw;
  color: black;
  text-decoration: none;
}
.foodstuff-link img {
  width: 5.5vw;
}

/* MOBILE VIEW */
@media screen and (max-width: 900px) {
  /* COFFEE AND DESCRIPTION */
  .coffee-and-descr-container {
    flex-direction: column;
    text-align: center;
  }
  .coffee-pic {
    padding-top: 5vw;
  }
  .coffee-pic img,
  .home-descr {
    margin: auto;
    width: 80vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
  }
  .home-descr h2 {
    font-size: 6vw;
    line-height: 7vw;
    margin-top: 1vw;
    margin-bottom: 4vw;
  }
  .home-descr h3 {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 4vw;
  }

  /* INSTA LINK */
  .insta-link {
    display: flex;
  }

  /* FACEBOOK LINK */
  .facebook-link {
    display: flex;
  }

  /* DELIVERY TAB */
  .delivery-tab-container {
    display: none;
  }

  /* FOODSTUFF LINK */
  .foodstuff-link {
    display: flex;
  }
  /* .delivery-tab-container {
    transform: rotate(0deg);
    position: relative;
    margin-top: 5vw;
    margin-left: 0;
    width: 100vw;
    height: 15vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 0;
    bottom: 0;
  }
  .delivery-tab {
    height: 8vw;
    width: 36vw;
  }
  .delivery-tab p {
    padding-top: 1.4vw;
    font-family: "Foodstuff";
    font-size: 4.2vw;
  } */
}
